.container {
  border: 1px solid black;
  border-radius: 5px;
  height: 50vh;
  margin: 0 0 var(--ifm-spacing-vertical);
  min-height: 250px;
  width: 100%;
}

.container iframe {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
